<div class="container">
<div class="card">
  <div class="card-body">
    <h4 class="card-title mb-4 mt-1">Send Payments</h4>
        <div class="form-group">
          <label>Receiver Contract Address</label>
          <input [(ngModel)]="receiverAddress" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label>Enter amount (in ethers)</label>
          <input [(ngModel)]="value" class="form-control" type="number">
        </div>
          <button [disabled]="!receiverAddress || !value" (click)="sendPayment()" class="btn btn-primary btn-block">Send</button>
  </div>
</div>
</div>

<ul>
  <li *ngFor="let message of messages" class="text-white bg-primary m-4 p-4">{{message}}</li>
</ul>
